.basic {
  position: absolute;
  top: 24px;
  left: 87px;
  line-height: 32px;
}
.free,
.free-plan-for {
  position: relative;
  line-height: 48px;
}
.free-plan-for {
  font-size: var(--font-size-xl);
  line-height: 32px;
}
.free-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.check-circle-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.unlimited-url-shortening {
  position: relative;
  line-height: 24px;
}
.check-circle-container,
.check-circle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.check-circle-parent {
  justify-content: center;
  color: var(--text-color-main-text);
}
.check-circle-container {
  justify-content: flex-start;
}
.frame-parent14,
.frame-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  gap: var(--gap-5xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame-parent14 {
  position: absolute;
  top: 90px;
  left: 87px;
  gap: var(--gap-base);
  font-size: var(--h0-bold-size);
}
.desktop-10 {
  position: absolute;
  top: 86px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--neutral-white);
  box-shadow: var(--drop-shadow);
  border: 0.4px solid var(--primary-400);
  box-sizing: border-box;
  width: 379px;
  height: 455px;
  overflow: hidden;
}
.teams {
  position: absolute;
  top: 26px;
  left: 80px;
  line-height: 32px;
}
.check-circle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frame-parent16,
.frame-parent17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-sm);
}
.frame-parent16 {
  position: absolute;
  top: 92px;
  left: 86px;
  gap: var(--gap-base);
  font-size: var(--h0-bold-size);
}
.desktop-12 {
  position: absolute;
  top: 86px;
  left: 709px;
  border-radius: var(--br-xs);
  background-color: var(--neutral-white);
  box-shadow: var(--drop-shadow);
  border: 0.4px solid var(--primary-400);
  box-sizing: border-box;
  width: 379px;
  height: 455px;
  overflow: hidden;
}
.professional {
  position: absolute;
  top: 95px;
  left: 65px;
  line-height: 32px;
}
.frame-parent18,
.frame-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent19 {
  width: 200px;
  font-size: var(--font-size-sm);
}
.frame-parent18 {
  position: absolute;
  top: 151px;
  left: 65px;
  font-size: var(--h0-bold-size);
}
.desktop-111 {
  position: absolute;
  top: 0;
  left: calc(50% - 205px);
  border-radius: var(--br-xs);
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0));
  box-shadow: var(--drop-shadow);
  width: 410px;
  height: 627px;
  overflow: hidden;
  color: var(--neutral-white);
}
.desktop-10-parent {
  position: absolute;
  top: 218px;
  left: 176px;
  width: 1088px;
  height: 627px;
}
.sample-cta4 {
  position: relative;
  line-height: 12px;
}
.magic-wand-icon4 {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.magic-wand4 {
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.button4 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--primary-300-base);
  box-sizing: border-box;
  width: 200px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.button-container,
.button4,
.button5 {
  display: flex;
  flex-direction: row;
}
.button5 {
  border-radius: var(--br-81xl);
  background-color: var(--primary-300-base);
  width: 200px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--neutral-white);
}
.button-container {
  position: absolute;
  top: 913px;
  left: calc(50% - 206px);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--h4-bold-size);
  color: var(--primary-300-base);
}
.frame-child11 {
  position: relative;
  width: 5px;
  height: 48px;
}
.price-perfect {
  color: var(--primary-400);
}
.from-catering-for {
  position: relative;
  font-size: var(--h4-bold-size);
  line-height: 24px;
  display: inline-block;
  width: 556px;
  height: 52px;
  flex-shrink: 0;
}
.a-price-perfect-for-your-needs-parent,
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.vector-container {
  position: absolute;
  top: 42px;
  left: calc(50% - 288px);
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--h0-bold-size);
}
.desktop-1 {
  position: relative;
  background-color: var(--neutral-white);
  width: 100%;
  height: 1073px;
  overflow: hidden;
  text-align: center;
  font-size: var(--h2-bold-size);
  color: var(--text-color-main-text);
  font-family: var(--h2-bold);
}
